<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeeidev.android.apps.finance.managements" >

    <!-- For apps targeting Android 13 or higher & GMA SDK version 20.3.0 or lower -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/zeicare_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:exported="true"
            android:name="com.zeeidev.android.apps.finance.managements.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.zeeidev.android.apps.finance.managements.MenuInata"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.zeeidev.android.apps.finance.managements.MenuBanana"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.zeeidev.android.apps.finance.managements.MenuReward"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.zeeidev.android.apps.finance.managements.MenuSetting"
                  android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
